---
import Layout from "../layouts/Layout.astro";
import { getNews, getNewsDetail } from "../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getNews({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      newsId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { newsId } = Astro.params;
const news = await getNewsDetail(newsId as string);
---

<Layout title="My first news with Astro">
  <main class="text-xl text-white">
    <h1 class="title">{news.title}</h1>
    <p class="publishedAt">公開日時：{news.publishedAt}</p>
    <div class="post" set:html={news.content}></div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>